<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/favicon.ico">
    <title>Sound Cloud</title>
</head>

<body>
    <img class="background-img" src="/static/images/bckgr.jpg" alt="background">
    {{{body}}}
</body>

</html>