<main>
    <h1 class="heading">Welcome to Sound Cloud!</h1>
    <form action="/download" method="POST" class="download">
        <input type="text" id="url" name="url" placeholder="Enter your url address...">
        <button>Download</button>
    </form>
    <a class="convert-new" href="/">Convert new</a>
</main>