<main>
    <h1 class="heading">Welcome to Sound Cloud!</h1>
    <form action="/download" method="POST" class="download">
        <input type="text" id="url" name="url">
        <button>Download</button>
    </form>
</main>